@model Kutuphane.Entities.Concrete.Author
@{
    ViewData["Title"] = "Yazar Ekle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-top: 15px">
        <label>Yazar Adı</label>
        @Html.TextBoxFor(y => y.Name, new { @class = "form-control", required = "", placeholder = "Yazar Adını Giriniz..." })
    </div>
    <div style="margin-top: 15px">
        <label>Yazar SoyAdı</label>
        @Html.TextBoxFor(y => y.Surname, new { @class = "form-control", required = "", placeholder = "Yazar SoyAdını Giriniz..." })
    </div>
    <div style="margin-top: 15px">
        <label>Yazar Detay Bilgileri</label>
        @Html.TextAreaFor(y => y.Detail, new { @class = "form-control", placeholder = "Yazar Detaylarını Giriniz..." })
    </div>
    <div style="margin-top: 15px">
        <button class="btn btn-info" id="Btn1">Yazar Ekle</button>
    </div>
</form>
