@{
    ViewData["Title"] = "Login";
}

<form asp-action="Index" asp-controller="Login" method="post" class="form-group">
    <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>

    <div class="form-group">
        <label for="Username">Kullanıcı Adı</label>
        <input type="email" class="form-control" name="email" placeholder="Email Adresi">
    </div>

    <div class="form-group">
        <label for="Password">Parola</label>
        <input type="password" class="form-control" name="password" placeholder="Parola">
    </div>

    <input type="submit" class="w-100 btn btn-lg btn-primary" value="Giriş Yap" />
</form>

